#header, #header a{
	color: #db0000;
}

#options .optRow{
  background: #dfdfdf;
  display: inline-block;
  margin: 0 10px 5px 0;
  padding: 0 5px;
  border-radius: 5px;
}

#class{
	width: 1.5em;
	padding-right: 0;
}

#bc{
	width: 2em;
	padding-right: 0;
}

#age{
	width: 3.1em;
	padding-right: 0;
}

#duration input{
	width: 1.5em;
}

#departureAfter input, #arrivalBefore input{
	width: 2.8em;
}

#maxChanges input{
	width: 1.1em;
}

#trick{
  width: 8em;
}
